* {
  box-sizing: border-box;
}

.pdf-container-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: linear-gradient(180deg, rgba(209,0,255,1) 0%, rgba(255,205,0,1) 100%);
}
#pdf-container {
  width: 100%;
  height: calc(var(--vh) * 100);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0.5vh 0 10vh 0;
}
#pdf-container canvas {
  max-width: 97vw;
  background-color: purple;
  opacity: 0.5;
  height: 250vh;
}

.link-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: block;
  padding: 3.5vh 0;
}
.link {
  padding: 7px 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 10px 0px #000;
  border:0;
  color:#fff;
  background-image: -moz-linear-gradient(66deg, rgb(101, 188, 217) 0%, rgb(128, 200, 215) 51%, rgb(154, 211, 212) 100%);
  background-image: -webkit-linear-gradient(66deg, rgb(101, 188, 217) 0%, rgb(128, 200, 215) 51%, rgb(154, 211, 212) 100%);
  background-image: -ms-linear-gradient(66deg, rgb(101, 188, 217) 0%, rgb(128, 200, 215) 51%, rgb(154, 211, 212) 100%);
  box-shadow: 0px 0px 0px 0px rgba(31, 182, 233, 0.35);
  border-radius: 15px;
}
/* 
@media screen and (max-width: 576px) {
  #pdf-container {
    padding: 0.5vh 0 0;
    height: 80vh;
  }
  #pdf-container canvas {
    background-color: red;
  }
} */