/*#region variablesCSS*/
:root {
  --white-c: #ffffff;
  --dark-c: #171717;
  --accent-blue-c: #1AA5FD;
  --light-blue-c: #AFD0F5;
}
/*#endregion variablesCSS*/

/*#region fonts*/
@font-face {
  font-family: 'Gilroy', 'sans-serif';
  src: url('../fonts/Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'),
       url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
       url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
       url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy', 'sans-serif';
  src: url('../fonts/Gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'),
       url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
       url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
       url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy', 'sans-serif';
  src: url('../fonts/Gilroy/Gilroy-Semibold.eot');
  src: local('Gilroy SemiBold'),
       url('../fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'),
       url('../fonts/Gilroy/Gilroy-Semibold.woff') format('woff'),
       url('../fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy', 'sans-serif';
  src: url('../fonts/Gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'),
       url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
       url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
       url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Cyrillic';
  src: url('../fonts/Bebas-Neue-Cyrillic/BebasNeueCyrillic.eot');
  src: local('Bebas Neue Cyrillic Regular'),
       url('../fonts/Bebas-Neue-Cyrillic/BebasNeueCyrillic.woff2') format('woff2'),
       url('../fonts/Bebas-Neue-Cyrillic/BebasNeueCyrillic.woff') format('woff'),
       url('../fonts/Bebas-Neue-Cyrillic/BebasNeueCyrillic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/*#endregion fonts*/

/*#region generalStyles*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 0.84vw;
  color: var(--dark-c);
}

ol, ul {
  list-style: none;
}

strong {
  font-weight: 700;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

input {
  border: none;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.df {
  display: flex;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 4.5vw;
}

h1, h2 {
  font-family: 'Bebas Neue Cyrillic', 'sans-serif';
}
section {
  padding: 4vw 0;
}

h2 {
  font-size: clamp(18px, 2.9vw, 54px);
  text-transform: uppercase;
  margin-bottom: clamp(10px, 2.7vw, 40px);
}

.accent-btn {
  width: max-content;
  border-radius: 0.9vw;
  background: linear-gradient(90deg, rgba(106,161,255,1) 0%, rgba(141,183,255,1) 100%);
  color: var(--white-c);
}
/*#endregion generalStyles*/

/*#region slickSlider*/
.slick-slider {
  margin-bottom: 1.9vw;
}
.slick-slider .slick-track, .slick-slider .slick-list {
  display: flex;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 4vw;
  aspect-ratio: 1 / 1;
  background-image: url(../images/slick-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.slick-arrow:hover {
  opacity: 0.8;
}
.slick-arrow.slick-prev {
  left: 0;
  transform: translateY(-50%) scaleX(-1);
}
.slick-arrow.slick-next {
  right: 0;
  transform: translateY(-50%);
}
.slick-arrow.slick-disabled {
  filter: contrast(0.8);
  opacity: 0.5;
  cursor: not-allowed;
}

.slick-slider ul.slick-dots {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3vw;
  top: 1.4vw;
}

.slick-slider ul.slick-dots li {
  padding: 0;
  width: 1.6vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid 2px #8FC4FF;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.slick-slider ul.slick-dots li:hover {
  background-color: var(--light-blue-c);
  opacity: 0.7;
}
.slick-slider ul.slick-dots li::before {
  display: none;
}
.slick-slider ul.slick-dots li.slick-active {
  background-color: #8FC4FF;
}
.slick-slider ul.slick-dots li button {
  font-size: 0;
}
/*#endregion slickSlider*/

/*#region header*/
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white-c);
  z-index: 2;
}
.header--mobile {
  display: none;
}
.header {
  padding: 1.2vw 0;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  padding: 0;
  height: 4.2vw;
  width: max-content;
  aspect-ratio: 1 / 1;
}
.header .logo img {
  width: max-content;
}
.header nav {
  transform: translateX(4%);
}
.header nav ul {
  gap: 1.8vw;
}
.header a {
  padding: 0.3vw 0;
  font-size: 1.2vw;
}
.header a.phone {
  padding: 0.72vw 1.2vw;
  border-radius: 0.9vw;
  background: linear-gradient(90deg, rgba(106,161,255,1) 0%, rgba(141,183,255,1) 100%);
  color: var(--white-c);
}
/*#endregion header*/

/*#region sec1*/
.sec1 {
  padding-top: 0.5vw;
}
.sec1__content {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1;
}
.sec1__content::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: var(--light-blue-c);
  border-radius: 1.8vw;
  z-index: -1;
}
.sec1__img {
  width: 42vw;
}
.sec1__text {
  padding: 3.5vw 0 3.5vw 3.5vw;
  color: var(--white-c);
}
.sec1__text h1 {
  font-size: 5.8vw;
  line-height: 6.2vw;
  width: 45vw;
  text-transform: uppercase;
}
.sec1__text ul {
  margin: 3.3vw 0 4.7vw;
}
.sec1__text ul li {
  position: relative;
  padding-left: 2.2vw;
  font-size: 2.1vw;
  margin-bottom: 1.2vw;
}
.sec1__text ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1.1vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--white-c);
}
.sec1__text ul li:last-child {
  margin-bottom: 0;
}
.sec1__text a {
  padding: 2vw;
  font-size: 2.1vw;
}
/*#endregion sec1*/

/*#region sec2*/
.sec2__blocks {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5vw;
  row-gap: 3vw;
}
.sec2__block {
  width: calc(25% - 1.13vw);
}
.sec2__block img {
  width: 12vw;
  margin: 0 auto 1vw;
}
.sec2__block p {
  text-align: center;
  font-size: 1.62vw;
  line-height: 2vw;
}
/*#endregion sec2*/

/*#region sec3*/
.sec3__content {
  padding: 0 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../images/sec3-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.8vw;
}
.sec3__img {
  width: 31vw;
}
.sec3__img img.mobile {
  display: none;
}
.sec3__form {
  width: calc(100% - 40vw);
  color: var(--white-c);
}
.sec3__form h2 {
  transform: scale(1.35);
  transform-origin: left bottom;
  margin-bottom: 2.6vw;
}
.sec3__form form label {
  display: block;
  margin-bottom: 1.5vw;
}
.sec3__form form label:last-of-type {
  margin-bottom: 2.5vw;
}
.sec3__form form label span {
  display: block;
  font-size: 1.62vw;
  line-height: 2vw;
  margin-bottom: 0.5vw;
}
.sec3__form form label input {
  display: block;
  width: 31.5vw;
  font-size: 1.62vw;
  line-height: 2vw;
  font-family: inherit;
  border-radius: 0.9vw;
  padding: 1.2vw 1vw;
}
.sec3__form form button {
  padding: 1.7vw 2vw;
  font-size: 2.1vw;
}
/*#endregion sec3*/

/*#region sec4*/
.sec4__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25vw 23.5vw;
  gap: 1.5vw;
}
.sec4__block {
  background-color: #F1F1F1;
  overflow: hidden;
  border-radius: 1.8vw;
}
.sec4__text {
  padding: 2.5vw;
}
.sec4__text h3 {
  font-weight: 700;
  font-size: 1.6vw;
  line-height: 2vw;
  margin-bottom: 1.7vw;
}
.sec4__text p {
  font-size: 1.3vw;
  line-height: 1.6vw;
}

.sec4__block:nth-child(1) {
  display: flex;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.sec4__block:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.sec4__block:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.sec4__block:nth-child(4) {
  display: flex;
  flex-direction: column;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.sec4__block:nth-child(1) .sec4__img {
  height: 100%;
  min-width: max-content;
}
.sec4__block:nth-child(1) .sec4__img img {
  height: 100%;
  aspect-ratio: 1 / 0.95;
}

.sec4__block:nth-child(4) .sec4__img {
  margin-top: auto;
}


.sec4__content .sec4__img-mobile {
  display: none;
}
/*#endregion sec4*/

/*#region sec5*/
.sec5 h2 {
  margin-bottom: 1vw;
}
.sec5 h2 + p {
  font-size: 2.02vw;
  margin-bottom: 3.1vw;
}
.sec5 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vw;
  margin-bottom: 2.3vw;
}
.sec5 ul.slick-dots {
  margin-bottom: 0;
}
.sec5 ul li {
  position: relative;
  font-size: 1.62vw;
  padding-left: 2.2vw;
}
.sec5 ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-46.5%);
  width: 1.65vw;
  aspect-ratio: 1 / 1;
  background-image: url(../images/sec5-decorator.webp);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}
.sec5__slider-block img {
  width: 52vw;
  margin: 0 auto;
}
/*#endregion sec5*/

/*#region sec6*/
.sec6 ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3vw;
  row-gap: 4vw;
  margin-bottom: 4vw;
}
.sec6 ul li {
  position: relative;
  width: calc(50% - 1.5vw);
  font-size: 1.8vw;
  line-height: 2.1vw;
  padding-left: 6vw;
}
.sec6 ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 4vw;
  aspect-ratio: 1 / 1;
  background-image: url(../images/sec6-cross.svg);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}
.sec6 h3 {
  font-family: 'Bebas Neue Cyrillic', 'sans-serif';
  font-size: 3.5vw;
  margin-bottom: 1.2vw;
}
.sec6 h3 strong {
  font-weight: 400;
  color: var(--light-blue-c);
}
.sec6 p {
  font-size: 1.8vw;
  margin-bottom: 2.7vw;
}
.sec6 a {
  padding: 1.8vw 2vw;
  font-size: 2.1vw;
}
/*#endregion sec6*/

/*#region sec7*/
.sec7 .container {
  position: relative;
  z-index: 1;
}
.sec7 h2 {
  margin-bottom: 1.1vw;
}
.sec7 h3 {
  font-size: 2.8vw;
  color: var(--light-blue-c);
  font-style: italic;
  font-weight: 700;
  margin-bottom: 3vw;
}
.sec7__blocks {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 3vw;
  width: 65vw;
}
.sec7__block {
  padding: 3vw 2vw;
  background-color: #F7F7F7;
  border-radius: 1.5vw;
  -webkit-box-shadow: 6px 4px 5.5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 6px 4px 5.5px 0px rgba(0,0,0,0.2);
  box-shadow: 6px 4px 5.5px 0px rgba(0,0,0,0.2);
  text-align: center;
  height: max-content;
}
.sec7__block h4 {
  font-size: 5vw;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0.7vw;
  color: var(--light-blue-c);
}
.sec7__block p {
  font-size: 1.4vw;
  line-height: 1.8vw;
  margin-bottom: 0.7vw;
}
.sec7__block ul {
  margin: 1.5vw 0;
}
.sec7__block ul li {
  position: relative;
  font-size: 1.2vw;
  line-height: 1.6vw;
  padding-left: 2.2vw;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vw;
}
.sec7__block ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-46.5%);
  width: 1.65vw;
  aspect-ratio: 1 / 1;
  background-image: url(../images/sec5-decorator.webp);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}
.sec7__block ul li:last-child {
  margin-bottom: 0;
}

.sec7__img {
  position: absolute;
  bottom: -3.5vw;
  right: 0;
  width: 38vw;
  z-index: 1;
}
.sec7 .container::before {
  content: '';
  position: absolute;
  bottom: 8.7vw;
  right: 28vw;
  height: 20vw;
  width: 42vw;
  background-image: url(../images/sec7-decorator-img.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
/*#endregion sec7*/

/*#region sec8*/
.sec8__blocks {
  padding: 0 4.5vw;
}
.sec8__blocks.slick-slider .slick-track {
  padding-bottom: 1.5vw;
}
.sec8__blocks.slick-slider .slick-arrow.slick-prev {
  transform: translateY(-75%) scaleX(-1);
}
.sec8__blocks.slick-slider .slick-arrow.slick-next {
  transform: translateY(-75%);
}
.sec8__block {
  margin: 0 1.5vw;
  padding: 2vw 1.5vw;
  border-radius: 1.5vw;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.15);
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.15);
}
.sec8__block > p {
  font-size: 1.6vw;
  line-height: 1.9vw;
}
.sec8__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
}
.sec8__name {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}
.sec8__name div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue-c);
  color: var(--white-c);
  font-weight: 700;
  font-size: 3.5vw;
  width: 5.1vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}
.sec8__name div img {
  width: 100%;
  height: 100%;
}
.sec8__name p {
  font-size: 2.1vw;
  font-weight: 600;
}
.sec8__rating {
  display: flex;
  align-items: center;
  gap: 0.3vw;
}
.sec8__rating img {
  width: 1.5vw;
}
.sec8__block[data-rating="1"] .sec8__rating img:nth-child(2),
.sec8__block[data-rating="1"] .sec8__rating img:nth-child(3),
.sec8__block[data-rating="1"] .sec8__rating img:nth-child(4),
.sec8__block[data-rating="1"] .sec8__rating img:nth-child(5),
.sec8__block[data-rating="2"] .sec8__rating img:nth-child(3),
.sec8__block[data-rating="2"] .sec8__rating img:nth-child(4),
.sec8__block[data-rating="2"] .sec8__rating img:nth-child(5),
.sec8__block[data-rating="3"] .sec8__rating img:nth-child(4),
.sec8__block[data-rating="3"] .sec8__rating img:nth-child(5),
.sec8__block[data-rating="4"] .sec8__rating img:nth-child(5) {
  filter: contrast(0) brightness(1.5);
}
/*#endregion sec8*/

/*#region sec9*/
.sec9 h2 {
  margin-bottom: clamp(8px, 1.1vw, 25px);
}
.sec9 h2 + p {
  font-size: clamp(12px, 1.6vw, 26px);
  line-height: clamp(16px, 2vw, 30px);
  margin-bottom: clamp(15px, 2.5vw, 65px);
}
.sec9__services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: clamp(15px, 1.8vw, 30px);
  row-gap: clamp(8px, 1vw, 15px);
  margin-bottom: clamp(25px, 3vw, 60px);
}
.sec9__service-block {
  position: relative;
  border-radius: clamp(15px, 1.8vw, 30px);
  overflow: hidden;
  background-color: #F1F1F1;
  padding: clamp(11px, 2vw, 45px) clamp(15px, 2.2vw, 25px);
  transition: all 0.3s linear;
  z-index: 1;
}
.sec9__service-block.blue {
  color: var(--white-c);
}
.sec9__service-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(175,208,245,1) 0%, rgba(151,181,229,1) 100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.sec9__service-block.blue::before {
  opacity: 1;
}
.sec9__service-block h3 {
  font-weight: 600;
  font-size: clamp(15px, 2.2vw, 30px);
  line-height: clamp(18px, 2.6vw, 33px);
  margin-bottom: clamp(15px, 2.2vw, 25px);
}
.sec9__service-block h3 em {
  display: block;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 3px;
}
.sec9__service-block ul li {
  font-size: clamp(11px, 1.4vw, 24px);
  line-height: clamp(16px, 1.8vw, 28px);
  margin-bottom: clamp(8px, 1vw, 15px);
}
.sec9__service-block ul li:last-child {
  margin-bottom: 0;
}
.sec9__service-block:last-child {
  grid-column: 1 / -1;
}
.sec9__service-block:last-child h3 {
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
}
.sec9__service-block:last-child h3::before, .sec9__service-block:last-child h3::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1.1);
  background-color: #707078;
  transition: all 0.3s ease-in-out;
  border-radius: 1vw;
}
.sec9__service-block:last-child h3::before {
  height: clamp(16px, 2.8vw, 32px);
  width: clamp(3px, 0.5vw, 5px);
  right: clamp(6.5px, 1.05vw, 13.5px);
}
.sec9__service-block:last-child h3::after {
  right: 0;
  width: clamp(16px, 2.8vw, 32px);
  height: clamp(3px, 0.5vw, 5px);
}
.sec9__service-block:last-child ul {
  display: none;
  margin-top: clamp(15px, 2.2vw, 25px);
}
.sec9__service-block.blue:last-child h3::before {
  opacity: 0;
}

.sec9__first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: clamp(15px, 1.8vw, 30px);
  overflow: hidden;
  background-color: var(--light-blue-c);
  padding: clamp(12px, 3.8vw, 55px);
  aspect-ratio: 1 / 0.47;
  z-index: 1;
}
.sec9__first::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255,255,255,0.3) 0%, rgba(98,132,255,0.3) 100%);
  z-index: -2;
}
.sec9__first h2 {
  color: var(--white-c);
  font-size: clamp(16px, 5.5vw, 80px);
  line-height: clamp(26px, 5.9vw, 84px);
  margin-bottom: clamp(5px, 2vw, 30px);
  width: clamp(260px, 50vw, 700px);
}
.sec9__first h2 + p {
  font-size: clamp(9.3px, 1.65vw, 26px);
  line-height: clamp(13px, 2vw, 30px);
  margin-bottom: clamp(10px, 2.5vw, 65px);
  width: clamp(230px, 49vw, 765px);
}
.sec9__first-text {
  display: flex;
  align-items: center;
  gap: clamp(12px, 1.6vw, 26px);
}
.sec9__first-text p {
  font-size: clamp(22px, 6.6vw, 80px);
  color: var(--white-c);
}
.sec9__first-text p:nth-child(1) {
  font-family: 'Bebas Neue Cyrillic', 'sans-serif';
}
.sec9__first-text p:nth-child(2) {
  font-size: clamp(8px, 2.3vw, 30px);
  font-weight: 700;
}
.sec9__first-text p:nth-child(3) {
  font-family: 'Bebas Neue Cyrillic', 'sans-serif';
  position: relative;
  color: #585454;
}
.sec9__first-text p:nth-child(3)::before {
  content: '';
  position: absolute;
  bottom: 18%;
  left: 2%;
  transform-origin: center left;
  transform: rotate(-15deg);
  background-color: var(--white-c);
  width: 100%;
  height: 2px;
  border-radius: 5px;
}
.sec9__first a {
  font-size: clamp(12px, 2.3vw, 32px);
  padding: clamp(5px, 2vw, 25px) clamp(7px, 2.2vw, 20px);
  margin-top: auto;
}
.sec9__first img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: max-content;
  z-index: -1;
}
/*#endregion sec9*/

/*#region adaptiveGeneralStyles*/
@media screen and (max-width: 1600px) {
  .container {
    padding: 0 55px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 35px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 28px;
  }
}

@media screen and (max-width: 981px) {
  .container {
    padding: 0 18px;
  }
}
/*#endregion adaptiveGeneralStyles*/

/*#region adaptiveSlickSlider*/
@media screen and (max-width: 575px) {
  .slick-slider {
    margin-bottom: 2.5vw;
  }
  .slick-arrow {
    width: max(20px, 5vw);
  }
  .slick-slider ul.slick-dots {
    gap: 2.5vw;
    top: 2.4vw;
  }
  .slick-slider ul.slick-dots li {
    width: 2.1vw;
    border-width: 1px;
  }
}
/*#endregion adaptiveSlickSlider*/

/*#region adaptiveHeader*/
@media screen and (max-width: 1600px) {
  .header nav {
    transform: translateX(2%);
  }
}

@media screen and (max-width: 1400px) {
  .header {
    padding: 0.9vw 0;
  }
  .header .logo {
    height: 3.6vw;
  }
  .header a {
    font-size: 1.08vw;
  }
  .header nav ul {
    gap: 1.2vw;
  }
  .header a.phone {
    padding: 0.6vw 0.9vw;
    border-radius: 0.6vw;
  }
}

@media screen and (max-width: 1200px) {
  .header .logo {
    height: 3.3vw;
  }
  .header nav {
    transform: translateX(0);
  }
}

@media screen and (max-width: 981px) {
  .header--desktop {
    display: none;
  }
  .header .logo {
    aspect-ratio: unset;
    height: 4.7vw;
  }
  .header--mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header--mobile nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3.2vw;
    background: linear-gradient(180deg, rgba(212,232,255,1) 0%, rgba(175,208,245,1) 100%);
    transform: translate(100%, -100%) rotate(90deg);
    opacity: 0;
    transform-origin: right bottom;
    transition: all 0.3s ease-in-out;
  }
  .header--mobile nav.open {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }

  .header--mobile button.burger-btn-close {
    position: relative;
    margin-left: auto;
    margin-bottom: 1.8vw;
    width: 3.6vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: solid 2.5px var(--accent-blue-c);
  }
  .header--mobile button.burger-btn-close span {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 68%;
    background-color: var(--accent-blue-c);
    border-radius: 5px;
  }
  .header--mobile button.burger-btn-close span:first-child {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .header--mobile button.burger-btn-close span:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .header--mobile nav ul li {
    margin-bottom: 1.72vw;
  }
  .header--mobile nav ul li:last-child {
    margin-bottom: 0;
  }
  .header--mobile nav ul li a {
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
  }

  .header--mobile button.burger-btn-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 2.5vw;
    width: 3.5vw;
  }
  .header--mobile button.burger-btn-open span {
    height: 3.5px;
    width: 90%;
    background-color: var(--accent-blue-c);
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 1.3vw 0;
  }
  .header--mobile button.burger-btn-open span {
    height: 2.5px;
  }
}

@media screen and (max-width: 575px) {
  header {
    position: fixed;
    background-color: var(--light-blue-c);
  }
  .header {
    padding-top: max(10px, 2vw);
    padding-bottom: max(10px, 2vw);
  }
  .header--mobile button.burger-btn-open span,
  .header--mobile button.burger-btn-close span {
    height: 1.9px;
  }
  .header--mobile nav ul li {
    margin-bottom: 6vw;
  }
  .header--mobile nav ul li a {
    font-size: max(15px, 3.45vw);
  }
  .header--mobile button.burger-btn-close {
    width: max(25px, 5.6vw);
    border-width: 1.8px;
    margin-bottom: max(40px, 10vw);
  }
  .header--mobile button.burger-btn-open {
    width: max(25px, 5.2vw);
    height: max(16px, 3.5vw);
  }
  .header .logo {
    height: max(30px, 8vw);
  }
}
/*#endregion adaptiveHeader*/

/*#region adaptiveSec1*/
@media screen and (max-width: 981px) {
  .sec1 {
    padding-top: 0;
  }
  .sec1__img {
    width: 38vw;
  }
  .sec1__text h1 {
    font-size: 5vw;
    line-height: 5.4vw;
  }
  .sec1__text ul li {
    padding-left: 2vw;
    font-size: 1.9vw;
    margin-bottom: 1vw;
  }
  .sec1__text a {
    font-size: 1.9vw;
  }
  .sec1__text ul {
    margin: 3vw 0 4.4vw;
  }
}

@media screen and (max-width: 575px) {
  .sec1 {
    position: relative;
    padding-top: max(55px, 12vw);
    height: max(473px, 140vw);
    background-color: var(--light-blue-c);
  }
  .sec1__content {
    position: static;
    display: block;
  }
  .sec1__content::before {
    display: none;
  }
  .sec1__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75vw;
  }
  .sec1__text {
    padding: 0;
  }
  .sec1__text a {
    position: absolute;
    bottom: 6vw;
    left: 4vw;
    font-size: max(13px, 3.5vw);
    padding: 4vw 2.8vw;
    z-index: 1;
    border-radius: 2.5vw;
  }
  .sec1__text h1 {
    position: relative;
    top: 3vw;
    font-size: max(28px, 8vw);
    line-height: max(30px, 8.4vw);
    text-align: center;
    margin: 0 auto;
    width: 75vw;
  }
  .sec1__text ul {
    margin-left: max(0.1px, 1.5vw);
    margin-top: max(35px, 9.5vw);
  }
  .sec1__text ul li {
    font-size: max(13px, 3.3vw);
    line-height: max(15px, 3.7vw);
    width: max(115px, 27vw);
    margin-bottom: 3vw;
    padding-left: 4.5vw;
  }
  .sec1__text ul li::before {
    width: 2vw;
  }
}
/*#endregion adaptiveSec1*/

/*#region adaptiveSec2*/
@media screen and (max-width: 981px) {
  .sec2__block p {
    font-size: 2vw;
    line-height: 2.3vw;
  }
}
@media screen and (max-width: 768px) {
  .sec2__block img {
    width: 11.5vw;
  }
}
@media screen and (max-width: 575px) {
  .sec2__blocks {
    justify-content: center;
    row-gap: 4vw;
  }
  .sec2__block {
    width: calc(33% - 1.13vw);
  }
  .sec2__block img {
    width: max(50px, 14vw);
  }
  .sec2__block p {
    font-size: max(10px, 2.5vw);
    line-height: max(12px, 2.9vw);
  }
  .sec2__block:nth-child(1) {
    order: 1;
  }
  .sec2__block:nth-child(2) {
    order: 2;
  }
  .sec2__block:nth-child(3) {
    order: 6;
  }
  .sec2__block:nth-child(4) {
    order: 5;
  }
  .sec2__block:nth-child(5) {
    order: 3;
  }
  .sec2__block:nth-child(6) {
    order: 4;
  }
  .sec2__block:nth-child(7) {
    order: 7;
  }
  .sec2__block:nth-child(8) {
    order: 8;
  }
}
/*#endregion adaptiveSec2*/

/*#region adaptiveSec3*/
@media screen and (max-width: 575px) {
  .sec3__content {
    position: relative;
    padding: 2.5vw 0 0 3vw;
  }
  .sec3__img {
    margin-left: auto;
    width: 40vw;
  }
  .sec3__img img.desktop {
    display: none;
  }
  .sec3__img img.mobile {
    display: block;
  }
  .sec3__form {
    position: absolute;
    left: 5.5vw;
    top: 50%;
    transform: translateY(-48.5%);
    width: calc(100% - 27vw);
  }
  .sec3__form h2 {
    transform: scale(1.25);
    margin-bottom: 3.8vw;
  }
  .sec3__form form button {
    font-size: max(13px, 2.8vw);
    padding: 2.2vw 2.8vw;
  }
  .sec3__form form label {
    margin-bottom: 3vw;
  }
  .sec3__form form label:last-of-type {
    margin-bottom: 3.8vw;
  }
  .sec3__form form label span {
    font-size: max(10px, 2.75vw);
    line-height: max(12px, 3.1vw);
    margin-bottom: max(3px, 1.1vw);
  }
  .sec3__form form label input {
    font-size: max(10px, 2.75vw);
    width: max(130px, 37vw);
  }
}
/*#endregion adaptiveSec3*/

/*#region adaptiveSec4*/
@media screen and (max-width: 768px) {
  .sec4__text {
    padding: 1.9vw 2.3vw;
  }
  .sec4__text h3 {
    font-size: 1.9vw;
    line-height: 2.3vw;
    margin-bottom: 0.9vw;
  }
  .sec4__text p {
    font-size: 1.45vw;
    line-height: 1.6vw;
  }
}
@media screen and (max-width: 575px) {
  .sec4__blocks {
    display: block;
  }
  .sec4__block {
    margin-bottom: max(17px, 3.8vw);
    background-color: transparent;
    overflow: unset;
  }
  .sec4__img {
    display: none;
  }
  .sec4__text {
    padding: 0 8.5vw;
  }
  .sec4__text h3 {
    position: relative;
    font-size: max(13px, 3.3vw);
    line-height: max(15px, 3.7vw);
    letter-spacing: 0.1vw;
    margin-bottom: 1.8vw;
    width: 60vw;
  }
  .sec4__text h3::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Bebas Neue Cyrillic', 'sans-serif';
    color: var(--light-blue-c);
    font-size: max(36px, 8.3vw);
    line-height: max(36px, 8.3vw);
  }
  .sec4__block:nth-child(1) .sec4__text h3::before {
    content: '1';
    left: -7.8vw;
  }
  .sec4__block:nth-child(2) .sec4__text h3::before {
    content: '2';
    right: -22vw;
  }
  .sec4__block:nth-child(3) .sec4__text h3::before {
    content: '3';
    left: -7.8vw;
  }
  .sec4__block:nth-child(4) .sec4__text h3::before {
    content: '4';
    right: -22vw;
  }
  .sec4__text p {
    font-size: max(10px, 2.6vw);
    line-height: max(12px, 3vw);
  }

  .sec4__content .sec4__img-mobile {
    display: block;
    width: 47vw;
    margin-left: auto;
    margin-right: -15px;
  }
}
/*#endregion adaptiveSec4*/

/*#region adaptiveSec5*/
@media screen and (max-width: 768px) {
  .sec5 h2 + p {
    font-size: 2.3vw;
  }
  .sec5 ul {
    gap: 5.5vw;
  }
  .sec5 ul li {
    font-size: 1.88vw;
    line-height: 2.02vw;
    padding-left: 2.8vw;
  }
  .sec5 ul li::before {
    width: 1.95vw;
  }
}
@media screen and (max-width: 575px) {
  .sec5 h2 + p {
    font-size: max(11px, 2.1vw);
    line-height: max(13px, 2.3vw);
  }
  .sec5 ul {
    justify-content: space-between;
    gap: 4vw;
  }
  .sec5 ul li {
    font-size: max(10px, 1.95vw);
    line-height: max(13px, 2.2vw);
    padding-left: max(11px, 2.8vw);
  }
  .sec5 ul:not(.slick-dots) li:last-child {
    width: max(70px, 17vw);
  }
  .sec5 ul li::before {
    width: max(9.5px, 2vw);
  }
}
/*#endregion adaptiveSec5*/

/*#region adaptiveSec6*/
@media screen and (max-width: 575px) {
  .sec6 ul {
    margin-bottom: max(20px, 4.5vw);
  }
  .sec6 ul li {
    width: 100%;
    padding-left: max(24px, 5vw);
    font-size: max(10px, 2vw);
    line-height: max(14px, 2.4vw);
  }
  .sec6 ul li::before {
    width: max(18px, 3.5vw);
  }
  .sec6 h3 {
    font-size: max(16px, 3.3vw);
    line-height: max(18px, 3.5vw);
    margin-bottom: max(10px, 1.5vw);
  }
  .sec6 p {
    font-size: max(10px, 2vw);
    line-height: max(12px, 2.2vw);
  }
  .sec6 a {
    font-size: max(12.5px, 2.8vw);
    padding: 2.2vw 2.8vw;
  }
}
/*#endregion adaptiveSec6*/

/*#region adaptiveSec7*/
@media screen and (max-width: 575px) {
  .sec7 h3 {
    font-size: max(11.4px, 2.6vw);
    margin-bottom: max(20px, 5vw);
  }
  .sec7__blocks {
    grid-template-columns: 1fr;
    gap: max(8px, 2vw);
    width: 50vw;
    max-width: 50%;
    min-width: 155px;
  }
  .sec7__block {
    border-radius: max(25px, 2vw);
  }
  .sec7__block h4 {
    font-size: max(22px, 5vw);
    margin-bottom: max(5px, 1vw);
    
  }
  .sec7__block p {
    font-size: max(8px, 2vw);
    line-height: max(11px, 2.4vw);
    margin-bottom: 0.5vw;
  }
  .sec7__block ul {
    margin: 1.1vw 0;
  }
  .sec7__block ul li {
    font-size: max(7.5px, 1.95vw);
    line-height: max(13px, 2.2vw);
    padding-left: max(11px, 2.8vw);
    margin-bottom: 0.5vw;
  }
  .sec7__block ul li::before {
    width: max(6.5px, 2vw);
  }

  .sec7__img {
    bottom: -4.5vw;
    width: 62vw;
    max-width: 50%;
    min-width: 200px;
    right: -10vw;
    z-index: -1;
  }
  .sec7 .container::before {
    display: none;
  }
}
/*#endregion adaptiveSec7*/

/*#region adaptiveSec8*/
@media screen and (max-width: 600px) {
  .sec8__blocks.slick-slider .slick-track {
    padding-bottom: max(8px, 1.5vw);
  }
  .sec8__blocks ul.slick-dots {
    top: max(5px, 1.2vw);
  }
  .sec8__block {
    margin-left: max(15px, 1.5vw);
    margin-right: max(15px, 1.5vw);
    padding: max(10px, 2.5vw);
    border-radius: max(20px, 1.5vw);
  }
  .sec8__block > p {
    font-size: max(11px, 1.9vw);
    line-height: max(13px, 2.3vw);
  }
  .sec8__title {
    margin-bottom: max(10px, 2vw);
  }
  .sec8__name {
    gap: max(5px, 1.5vw);
  }
  .sec8__name div {
    
    font-size: 3.5vw;
    width: max(25px, 5.1vw);
    
  }

  .sec8__name p {
    font-size: max(13px, 2.1vw);
  }
  .sec8__rating img {
    width: max(13px, 2vw);
  }

}
/*#endregion adaptiveSec8*/

/*#region adaptiveSec9*/
@media screen and (max-width: 575px) {
  .sec9__services {
    grid-template-columns: 1fr;
  }
  .sec9__first {
    aspect-ratio: unset;
  }
  .sec9__first img {
    transform: translateX(23%);
  }
  .sec9__first a {
    margin-top: clamp(15px, 2.5vw, 65px);
  }
}
/*#endregion adaptiveSec9*/


